@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Trường ĐH Ngoại Ngữ - Tin Học<br />
    115 Sư Vạn Hạnh, p.13, q.10<br />
    <abbr title="Phone">P:</abbr>
    123.456.789
</address>

<address>
    <strong>Email:</strong>   <a href="#">huflit.edu.vn</a><br />
</address>